.card-img-top {
    height: 200px;
}

#projects {
    text-align: center;
    font-weight: bolder;
    margin-bottom: 3rem;
}

span {
    font-weight: bolder;
    color: #a52a2a;
}

p {
    font-weight: 800;
    font-size: small;
}

.list-group-item {
    font-size: small;
}